# MSV / SS 2023 - Übung 2 - Lösung der Hausaufgaben

## Hausaufgaben

### Übung 1

- "on the other hand"
- "on the other end"

Welche Wortfolge ist die wahrscheinlichste? Die Wahrscheinlichkeit mit N-grams (aus relativer Häufgkeit im Brown Korpus - Maximum-Likelihood-Schätzung) schätzen. Groß- und Kleinschreibung beachten.

In [1]:
import nltk
from nltk.corpus import brown

In [2]:
from nltk.util import ngrams
from collections import Counter, defaultdict

P(hand|on the other) = C(on the other hand) / C(on the other)<br/>
P(end|on the other) = C(on the other end) / C(on the other)

In [3]:
threegrams = Counter(list(ngrams(brown.words(),3)))
fourgrams = Counter(list(ngrams(brown.words(),4)))

In [4]:
OTO_freq = threegrams[('on', 'the', 'other')] + threegrams[('On', 'the', 'other')]
print("Frequency of 'on the other / On the other': " + str(OTO_freq))

Frequency of 'on the other / On the other': 99

In [5]:
OTOH_freq = fourgrams[('on', 'the', 'other', 'hand')] + fourgrams[('On', 'the', 'other', 'hand')]
print("Frequency of 'on the other hand / On the other hand': " + str(OTOH_freq) + "; P: " + str(OTOH_freq/OTO_freq))

Frequency of 'on the other hand / On the other hand': 58; P: 0.5858585858585859

In [6]:
OTOE_freq = fourgrams[('on', 'the', 'other', 'end')] + fourgrams[('On', 'the', 'other', 'end')]
print("Frequency of 'on the other end / On the other end': " + str(OTOE_freq) + "; P: " + str(OTOE_freq/OTO_freq))

Frequency of 'on the other end / On the other end': 4; P: 0.04040404040404041

Was kommt noch häufig nach "On the other...."?

In [7]:
oto_ngrams = {}
for k in fourgrams.keys():
    if (k[0] == 'on') and (k[1] == 'the') and (k[2] == 'other'):
        oto_ngrams[k] = fourgrams[k]
    elif (k[0] == 'On') and (k[1] == 'the') and (k[2] == 'other'):
        oto_ngrams[k] = fourgrams[k]

for r in sorted(oto_ngrams, key=oto_ngrams.get, reverse=True):
    print(r, oto_ngrams[r])

('On', 'the', 'other', 'hand') 35
('on', 'the', 'other', 'hand') 23
('on', 'the', 'other', 'side') 20
('on', 'the', 'other', 'end') 4
('On', 'the', 'other', 'side') 4
('on', 'the', 'other', ',') 3
('on', 'the', 'other', '.') 3
('on', 'the', 'other', 'Af') 2
('on', 'the', 'other', 'ends') 1
('On', 'the', 'other', 'we') 1
('on', 'the', 'other', 'by') 1
('on', 'the', 'other', 'an') 1
('on', 'the', 'other', "man's") 1

### Übung 2

Suchen Sie nach alle Bigramme und Trigramme, die mit "eat" anfangen (z.B. "eat chicken", "eat French fries"), und sortieren Sie sie nach Häufigkeit.

In [8]:
bigrams = Counter(list(ngrams(brown.words(),2)))
threegrams = Counter(list(ngrams(brown.words(),3)))
fourgrams = Counter(list(ngrams(brown.words(),4)))

#### Bigrams

In [9]:
eat_bigrams = {}
for k in bigrams.keys():
    if k[0] == 'eat':
        eat_bigrams[k] = bigrams[k]

for r in sorted(eat_bigrams, key=eat_bigrams.get, reverse=True):
    print(r, eat_bigrams[r])

('eat', 'the') 4
('eat', 'too') 4
('eat', "''") 4
('eat', '.') 3
('eat', 'in') 3
('eat', 'up') 3
('eat', ',') 3
('eat', 'his') 2
('eat', '?') 2
('eat', 'from') 2
('eat', 'all') 2
('eat', 'chickens') 2
('eat', 'it') 1
('eat', 'as') 1
('eat', 'at') 1
('eat', 'Western') 1
('eat', 'affects') 1
('eat', 'is') 1
('eat', 'only') 1
('eat', 'because') 1
('eat', 'garbage') 1
('eat', 'a') 1
('eat', 'whatever') 1
('eat', ';') 1
('eat', 'dominant') 1
('eat', 'will') 1
('eat', 'enough') 1
('eat', 'and') 1
('eat', 'dinner') 1
('eat', 'until') 1
('eat', 'just') 1
('eat', 'mussels') 1
('eat', 'by') 1
('eat', 'their') 1
('eat', 'where') 1
('eat', 'so') 1
('eat', 'each') 1

#### Trigrams

In [10]:
eat_threegrams = {}
for k in threegrams.keys():
    if k[0] == 'eat':
        eat_threegrams[k] = threegrams[k]

for r in sorted(eat_threegrams, key=eat_threegrams.get, reverse=True):
    print(r, eat_threegrams[r])

('eat', 'too', 'much') 4
('eat', '?', '?') 2
('eat', "''", '.') 2
('eat', 'it', 'up') 1
('eat', 'as', 'high') 1
('eat', 'at', 'the') 1
('eat', 'his', 'hat') 1
('eat', 'Western', 'men') 1
('eat', 'the', 'daisies') 1
('eat', 'affects', 'their') 1
('eat', 'is', 'human') 1
('eat', '.', 'What') 1
('eat', 'in', 'disobedience') 1
('eat', 'up', 'my') 1
('eat', 'up', 'his') 1
('eat', 'the', 'skin') 1
('eat', '.', 'The') 1
('eat', 'from', 'one') 1
('eat', 'from', 'all') 1
('eat', 'only', 'from') 1
('eat', 'because', 'they') 1
('eat', 'garbage', ',') 1
('eat', 'the', 'cereal') 1
('eat', 'in', 'his') 1
('eat', 'a', 'rider') 1
('eat', 'the', 'entire') 1
('eat', 'up', 'all') 1
('eat', 'whatever', 'he') 1
('eat', ';', ';') 1
('eat', 'in', 'the') 1
('eat', 'dominant', 'stress') 1
('eat', 'will', 'have') 1
('eat', '.', 'High') 1
('eat', 'enough', ',') 1
('eat', 'and', 'drink') 1
('eat', 'his', 'meals') 1
('eat', 'dinner', 'with') 1
('eat', ',', "didn't") 1
('eat', 'until', "he's") 1
('eat', 'just', 'a') 1
('eat', "''", ',') 1
('eat', ',', 'get') 1
('eat', 'mussels', '.') 1
('eat', 'by', "''") 1
('eat', 'their', 'bodies') 1
('eat', 'where', 'angels') 1
('eat', 'so', 'much') 1
('eat', 'all', 'this') 1
('eat', 'all', 'day') 1
('eat', 'each', 'other') 1
('eat', ',', 'I') 1
('eat', "''", '?') 1
('eat', 'chickens', 'sometimes') 1
('eat', 'chickens', 'and') 1

### Übung 3

Wie wahrscheinlich ist "i want chinese food" mit Add-1-Smoothing?<br/>
(Sie brauchen dafür auch P(i|\<s\>) = 0.19 and P(\</s\>|food) =0.40)<br />
<br />
Wie ist die Add-1-Smoothing Wahrscheinlicheit im Vergleich zur Wahrscheinlicheit ohne Smoothing?

In [11]:
import nltk
import pandas as pd
import numpy as np

brp_unigrams = {'I': 2533,
                'want': 927,
                'to': 2417,
                'eat' : 746,
                'chinese' : 158,
                'food' : 1093,
                'lunch': 341,
                'spend': 278}

print(brp_unigrams)

{'I': 2533, 'want': 927, 'to': 2417, 'eat': 746, 'chinese': 158, 'food': 1093, 'lunch': 341, 'spend': 278}

In [13]:
brp_big_fq = [(5, 827, 0, 9, 0, 0, 0, 2),
              (2, 0, 608, 1, 6, 6, 5, 1),
              (2, 0, 4, 686, 2, 0, 6, 211),
              (0, 0, 2, 0, 16, 2, 42, 0),
              (1, 0, 0, 0, 0, 82, 1, 0),
              (15, 0, 15, 0, 1, 4, 0, 0),
              (2, 0, 0, 0, 0, 1, 0, 0),
              (1, 0, 1, 0, 0, 0, 0, 0)]  

brp_bigrams = pd.DataFrame(brp_big_fq, columns = ['I' , 'want', 'to' , 'eat', 'chinese', 'food', 'lunch', 'spend'], index=['I' , 'want', 'to' , 'eat', 'chinese', 'food', 'lunch', 'spend'])
brp_bigrams

          I  want   to  eat  chinese  food  lunch  spend
I         5   827    0    9        0     0      0      2
want      2     0  608    1        6     6      5      1
to        2     0    4  686        2     0      6    211
eat       0     0    2    0       16     2     42      0
chinese   1     0    0    0        0    82      1      0
food     15     0   15    0        1     4      0      0
lunch     2     0    0    0        0     1      0      0
spend     1     0    1    0        0     0      0      0

In [14]:
brp_bigrams_norm = brp_bigrams.div(brp_unigrams, axis='index')
brp_bigrams_norm

,I,want,to,eat,chinese,food,lunch,spend
I,0.001974,0.32649,0.000000,0.003553,0.000000,0.000000,0.000000,0.000790
want,0.002157,0.00000,0.655879,0.001079,0.006472,0.006472,0.005394,0.001079
to,0.000827,0.00000,0.001655,0.283823,0.000827,0.000000,0.002482,0.087298
eat,0.000000,0.00000,0.002681,0.000000,0.021448,0.002681,0.056300,0.000000
chinese,0.006329,0.00000,0.000000,0.000000,0.000000,0.518987,0.006329,0.000000
food,0.013724,0.00000,0.013724,0.000000,0.000915,0.003660,0.000000,0.000000
lunch,0.005865,0.00000,0.000000,0.000000,0.000000,0.002933,0.000000,0.000000
spend,0.003597,0.00000,0.003597,0.000000,0.000000,0.000000,0.000000,0.000000

#### Wahrscheinlichkeit ohne Smoothing

P(\<s\> i want chinese food \</s\>) = P(i|\<s\>)\*P(want|i)\*P(chinese|want)\*P(food|chinese)\*P(\</s\>|food)

In [15]:
P_s_i = 0.25 # P(i|<s>) = 0.25
P_food_s = 0.68 # P(</s>|food) = 0.68

In [16]:
# P(<s> i want chinese food </s>) = P(i|<s>)*P(want|i)*P(chinese|want)*P(food|english)*P(</s>|food)
P_chi = P_s_i * brp_bigrams_norm.loc['I','want'] * brp_bigrams_norm.loc['want','chinese']  * brp_bigrams_norm.loc['chinese','food'] * P_food_s
print("P(<s> i want chinese food </s>) = " + '{:f}'.format(P_chi)) # no scientific notation

P(<s> i want chinese food </s>) = 0.000186

#### Wahrscheinlichkeit mit Smoothing

In [17]:
brp_bigrams_laplace = brp_bigrams.copy()
brp_bigrams_laplace += 1
brp_bigrams_laplace

          I  want   to  eat  chinese  food  lunch  spend
I         6   828    1   10        1     1      1      3
want      3     1  609    2        7     7      6      2
to        3     1    5  687        3     1      7    212
eat       1     1    3    1       17     3     43      1
chinese   2     1    1    1        1    83      2      1
food     16     1   16    1        2     5      1      1
lunch     3     1    1    1        1     2      1      1
spend     2     1    2    1        1     1      1      1

In [18]:
W = 1446
brp_unigrams_laplace = brp_unigrams.copy()
for k, v in brp_unigrams_laplace.items():
    brp_unigrams_laplace[k] += W
brp_unigrams_laplace

{'I': 3979,
 'want': 2373,
 'to': 3863,
 'eat': 2192,
 'chinese': 1604,
 'food': 2539,
 'lunch': 1787,
 'spend': 1724}

In [19]:
brp_bigrams_norm_laplace = brp_bigrams_laplace.div(brp_unigrams_laplace, axis='index')
brp_bigrams_norm_laplace

,I,want,to,eat,chinese,food,lunch,spend
I,0.001508,0.208092,0.000251,0.002513,0.000251,0.000251,0.000251,0.000754
want,0.001264,0.000421,0.256637,0.000843,0.002950,0.002950,0.002528,0.000843
to,0.000777,0.000259,0.001294,0.177841,0.000777,0.000259,0.001812,0.054880
eat,0.000456,0.000456,0.001369,0.000456,0.007755,0.001369,0.019617,0.000456
chinese,0.001247,0.000623,0.000623,0.000623,0.000623,0.051746,0.001247,0.000623
food,0.006302,0.000394,0.006302,0.000394,0.000788,0.001969,0.000394,0.000394
lunch,0.001679,0.000560,0.000560,0.000560,0.000560,0.001119,0.000560,0.000560
spend,0.001160,0.000580,0.001160,0.000580,0.000580,0.000580,0.000580,0.000580

#### Einige vorgegebene Ps

In [21]:
P_s_i = 0.19 # P(i|<s>) = 0.19
P_food_s = 0.40 # P(</s>|food) = 0.40

P(\<s\> i want chinese food \</s\>) = P(i|\<s\>)\*P(want|i)\*P(chinese|want)\*P(food|chinese)\*P(\</s\>|food)

In [24]:
P_chi = P_s_i * brp_bigrams_norm_laplace.loc['I','want'] * brp_bigrams_norm_laplace.loc['want','chinese']  * brp_bigrams_norm_laplace.loc['chinese','food'] * P_food_s
print("P(<s> i want chinese food </s>) = " + '{:f}'.format(P_chi)) # no scientific notation

P(<s> i want chinese food </s>) = 0.000002